<section class="thirteen columns">
    <h1>Conference / Presentations</h1>
    <article>
        <header>
            <h1>International Conference</h1>
            <span><address>INFORMS 2017 Annual Meeting, Houston, TX, Oct. 22-25</address></span>
        </header>
        <p>
            <strong>Donghwa Kim</strong>, Deokseong Seo, Suhyoun Cho, Pilsung Kang*. (2017) Multi-co-training for Document Classification using Multi-views.
        </p>
    </article>
    <article>
        <header>
            <h1>Domestic Conference</h1>
            <span>2016 대한산업공학회 춘계학술대회, 제주 국제컨벤션센터, 제주, 4월 13일 ~ 15일</span>
        </header>
        <p>
            <strong>김동화</strong>, 서덕성, 조수현, 강필성*. (2016). Multi-Co-Training을 활용한 문서 분류.
        </p>
    </article>
    <article>
        <header>
            <span>2016 BI데이터마이닝학회 춘계학술대회, 서울 코엑스, 서울, 4월 12일</span>
        </header>
        <p>
            <strong>김동화</strong>, 서덕성, 조수현, 강필성*. (2016). 나이브베이즈 분류기 기반의 협동학습을 활용한 문서 분류.
        </p>
    </article>
    <article>
        <header>
            <span>2015 대한산업공학회 추계학술대회, 연세대학교 , 서울, 11월 8일</span>
        </header>
        <p>
            김형석, 박영준, 이한규, <strong>김동화</strong>, 김보섭, 류나현, 강필성*, 김성범. (2015). 야구 기사와 선수 기록을 활용한 딥러닝 기반 극성 판별 모델의 개발.
        </p>
    </article>
</section>