<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Ph.D student in Industrial Engineering</h1>
            <span>University of Korea</span>
            <span><address>Seoul, Korea</address><time>2015 to Present</time></span>
        </header>
        <p>
            <em>Research topics: text mining, deep learning, time series prediction, novelty detection, object detection</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Major in Industrial Engineering</h1>
            <span>University of SeoulTech</span>
            <span><address>Seoul, Korea</address><time>2014 to 2015</time></span>
        </header>
        <p>
            <em>University College Student Project Competition: "An approach to improve the optical filter for bankbook information recognition."</em>
            <em>Koras, 2014.</em>
        </p>
    </article>
</section>
