<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
   		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 1</a></strong>
			- <h><strong> Deep learning based wafer bin map detection and map fail pattern detection (Samsung Electronics) - 2018.04 ~ 2018.11 </strong></br>
				<li>Daily WBM clustering and pattern generation rate detection methodologies based on specific dates</li>
				<li>WBM has different patterns depending on various products, process routes, etc., and needs to search for specific pattern change of WBM per day / process unit</li>
				<li>The fact that the pattern of WBM changed much compared to the past in the process schedule and materials.</li>
				<li>This study seeks to detect when different patterns of WBM are generated for a day in similar process situations and to provide engineer with priority information of process profiling.</li>
				<li>Analysis of daily WBM is conducted by using Convolution Auto-Encoder(CAE) method that can extract variables for WBM abnormal pattern of each product.</li>
		</p>
 		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 2</a></strong>
			- <h><strong> Neuroimage analysis of major depressive disorder in the adolescents based on machine learning/deep learning (Korea Hospital) - 2017.08 ~ 2018.02 </strong></br>
				<li> The  primary  objective  is  to  train  a  high  accuracy  predictive  classification  that  could  discriminate  scans  from  adolescent  patients  with  MDD  from  scans  from  healthy  controls.
				</li>
				<li>We demonstrate  whether  it  is  possible  to  reliably  train  a  predictive  classification  with  a  high  accuracy  even  in  the  first-onset  drug-naïve  adolescent  MDD  just  using  structural  MRI.</li>
				<li>This  is  the  first  study  to  estimate  prediction  models  for  first-onset  episode,  drug-naïve  adolescent  MDD by  evaluating  the  potential  of  structural  MRI  measures  as  biomarkers  and  multiple  machine  learning  methods</li>

		</p>

		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- <h><strong> Development of machine learning media streaming optimization system using QoE information (INI Soft) - 2017.05 ~ 2019.02</strong></br>
				<li>In order to efficiently serve large-capacity media contents such as Videos on the Internet and mobile, we developed a machine learning-based algorithm and library that automatically arranges content on CDN (Content Delivery Network).</li>
				<li>Development of QoE (Quality of Experience) Report collection technology for users' use of content.</li>
				<li>Development of Dynamic Content Placement and CDN Selection Algorithm for Performance/Price Optimization under Multi-CDN.</li>
				<li>Development of QoE (Quality of Experience) Report System Technology.</li>
				<li>Multi-CDN performance/price optimization algorithm.</li>
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong> 
			- <h><strong> Knowledge-based Knowledge Economy (NC Soft) - 2017.05 ~ 2018.03</strong></br>
				<li>Purpose of meaningful knowledge extraction from stock price data (structured) and news articles (unstructured).</li>
				<li>Extract and visualize key events based on network analysis through news articles.</li>
				<li>Extract news article event pattern through representation of news article.</li>
				<li>Based on the similarity of representation of articles in each period.</li>
				<li>Similar past searches and stock trends based on Similarity/Distance.</li>
		</p>
		<p>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- <h><strong> Developing Knowledge Extraction Using News articles and Stock Price (NC Soft) - 2016.10 ~ 2017.03 </strong></br>
				<li>Extract meaningful information based on structured/unstructured data in financial sector.</li>
				<li>Development of a methodology to interpret formal data (stock prices) from Text (news articles).</li>
				<li>Keyword extraction and generalization that implicitly represent the contents of the article from news articles.</li>
				<li>Extraction of links between financial and economic articles and stock prices using machine learning.</li>
				<li>Interpretation of the relationship between news articles and stock price trends in three aspects (real-time, leading, and trailing).</li>

		</p>
		<p> 
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- <h><strong> Opinion Generation Technology Development (NC Soft) - 2015.05 ~ 2015.07 </strong></br> 
				<li> Developing a query-response methodology that provides appropriate answers based on formal/unstructured data in a domain for a human-to-conversational query.</li> 
				<li> Convert conversational queries into searchable query sets.</li> <li> Extract necessary information from both structured data and unstructured data for attributes corresponding to the query set.</li> 
				<li>Combine the extracted information to express the degree of positive/negative of the evaluation factor.</li> 
		</p>


    </div>
  </div>
</div>
</section>
