<section class="thirteen columns">
    <h1> Publications </h1>

        <!--<article><article>
        <header>
            <h1>International Journals</h1>
            <span><address> J Affective Disorders, submitted for publication</address></span>
        </header>
        <p>
            <strong> Donghwa Kim </strong>, Junhong Kim, Czang yeob Kim and Pilsung Kang*. (2019). Machine learning classification of first-onset drug-naïve MDD using structural MRI.
        </p>
    </article></article>-->

    <article>
        <header>
            <span><address>IEEE Access 7(1), 153977-153985 (SCI), accepted for publication</address></span>
        </header>
        <p>
            <strong> Donghwa Kim </strong>, Pilsung Kang, Junhong Kim, Czang Yeob Kim, Jong-ha Lee, Sangil Suh, Moon-Soo Lee*. (2019). 	Machine learning classification of first-onset drug-naïve MDD using structural MRI.
        </p>
    </article>

    <article>
        <header>
            <span><address>JKIIE 45(5), 430-438, accepted for publication</address></span>
        </header>
        <p>
            Woosik Yang, <strong> Donghwa Kim </strong>, Hyungseok Kim, Seoha Song and Pilsung Kang*. (2019). Content Viewcount Forecasting and Hot Contents Identification for Dynamic Contents Caching in CDN Environment.
        </p>
    </article>

     <article>
        <header>
            <span><address>Information Sciences 477, 15-29. (SCI), accepted for publication</address></span>
        </header>
        <p>
            <strong> Donghwa Kim </strong>, Deokseong Seo, Suhyoun Cho and Pilsung Kang*. (2019). Multi-Co-Training for document classiffcation based on different document representations: TF-IDF, LDA and Doc2Vec.
        </p>
    </article>

    <article>
        <header>
            <span><address>Knowledge-Based Systems, accepted for publication</address></span>
        </header>
        <p>
            Young Joon Park, Hyung Seok Kim, Hankyu Lee, <strong> Donghwa Kim </strong>, Seoung Bum Kim, and Pilsung Kang*. (2017). A deep learning-based sports player evaluation model based on game statistics and news articles.
        </p>
    </article>
    <!--<article>
        <header>
            <h1>Domestic Conference</h1>
            <span>2016 대한산업공학회 춘계학술대회, 제주 국제컨벤션센터, 제주, 4월 13일 ~ 15일</span>
        </header>
        <p>
            <strong>김동화</strong>, 서덕성, 조수현, 강필성*. (2016). Multi-Co-Training을 활용한 문서 분류.
        </p>
    </article>-->
</section>